
/*Just removing default browser padding/margin*/
html,
body {
    height: 100%;
    overflow-x: hidden;
}

.Logo {
    color: rgb(62, 130, 185);
    float: left;
    width: 300px;
    height: 50px;
    display: block;
    text-indent: -9999px;
    border: 0 none rgb(62, 130, 185);
    background-image: url('../images/tlauction-250x50.jpg') ;
    background-repeat: no-repeat;
}

.slnk {
    color: rgb(62, 130, 185);
    cursor: pointer;
}

    .slnk:hover {
        cursor: pointer;
        text-decoration: underline;
    }

 
.list-group-item .leftside {
    float: left;
    text-align:right;
    width: 50%;
}
.list-group-item .rightside {
    float: right;
    width: 50%;
}

.list-group-item .center {
    text-align: center;
}

.pricediff-darkgreen {
    color: darkgreen;
 }

.pricediff-green {
    color: green;
 }

.pricediff-lightgreen {
    color: lightgreen;
 }

.pricediff-yellow {
    color: yellow;
 }


.pricediff-red {
    color: red;
}


.tltable { 
     border-top: none !important; 
     padding-top: 0 !important;
     padding-left: 0 !important;
     padding-right: 0 !important;
     padding-bottom: 0 !important;
 }

.scrollable {
    overflow: auto;
 }

.no-overflow {
    overflow: hidden;
}

.footer-followUsWrap {
    width: 250px;
    margin: 10px auto 20px;
    text-align: center;
}

.footer-socialMediaLink {
    margin: 2px 5px 0 0;
    text-indent: -9999px;
    display: block;
    float: left;
    line-height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: rgb(51, 51, 51) 0 8px 6px -6px;
    background: url("../images/socialmedia32pxsprite.png") 0 0 no-repeat;
}

.footer-socialMediaIcon-FB:hover {
    background-color: rgb(58, 87, 149);
}

.footer-socialMediaIcon-twitter {
    background-position: -40px 0;
}

.footer-socialMediaIcon-pinterest {
    background-position: -120px 0;
}

.footer-socialMediaIcon-googlePlus {
    background-position: -160px 0;
}

.footer-socialMediaLink.cg-footer-socialMediaIcon-instagram {
    background: url("../images/instagram.png") 0 0 no-repeat;
}

.footer-socialMediaIcon-linkedin {
    background: url("../images/linkedin-logo-white.png") 0 0 no-repeat;
}

.footer-socialMediaIcon-googlePlus:hover {
    background-color: rgb(221, 75, 57);
}

.slider.slider-horizontal {
    width: 100%;
}
