<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- Icons -->
    <link rel="shortcut icon" sizes="192x192" href="~/images/apple-icon-180x180.png" />
    <link rel="shortcut icon" sizes="128x128" href="~/images/apple-touch-icon-120x120.png" />
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png" />
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-icon-144x144.png" />

    <!-- Splash Screen Images -->
    <!-- iOS 6 & 7 iPad (retina, portrait) -->
    <link href="~/images/bootcards-splash-768x1004@2x.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPad (retina, landscape) -->
    <link href="~/images/bootcards-splash-1024x748@2x.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (portrait) -->
    <link href="~/images/bootcards-splash-1024x748.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (landscape) -->
    <link href="~/images/bootcards-splash-768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="~/images/bootcards-splash-320x548@2x.png"
          media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="~/images/bootcards-splash-320x460@2x.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPhone -->
    <link href="~/images/bootcards-splash-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">


    <environment names="Development">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css"  />
        <link rel="stylesheet" href="~/lib/bootcards/dist/css/bootcards-desktop.min.css">
        
        <!-- Font awesome -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/tlcards.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />

        <link rel="stylesheet" href="~/css/mvc-grid.css"  />
        <link rel="stylesheet" href="~/css/mvc-grid-base.css"  />

        <!-- Important: you'll only need one of the Bootcards CSS files below for every platform -->
        <!-- Bootcards CSS for iOS: -->
        <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-ios.min.css"> -->
        <!-- Bootcards CSS for Android: -->
        <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-android.min.css"> -->
    
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      

    </environment>
    <environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/tlcards.css" asp-append-version="true" />
    </environment>

    <title>TLAuctionHistory.com</title>
</head>
<body id="bootcards">
    <!-- fixed top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <button type="button" class="btn btn-default btn-back navbar-left pull-left hidden" onclick="history.back()">
                <i class="fa fa-lg fa-chevron-left"></i><span>Back</span>
            </button>
            <!-- menu button to show/ hide the off canvas slider -->
            <button type="button" class="btn btn-default btn-menu navbar-left pull-left offCanvasToggle" data-toggle="offcanvas">
                <i class="fa fa-lg fa-bars"></i><span>Menu</span>
            </button>

            <a class="navbar-brand no-break-out Logo" href="/">TLAuctionHistory</a>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/settings" data-pjax="#main" data-title="Settings"> <i class="fa fa-gears"></i>Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- slide in menu (mobile only) -->
    <nav id="offCanvasMenu" class="navmenu offcanvas offcanvas-left">
        <ul class="nav">
            <li>
                <a href="/dashboard" data-pjax="#main" data-title="Customers">
                    <i class="fa fa-lg fa-dashboard"></i>
                    Dashboard
                </a>
            </li>
            <li class="active">
                <a href="/companies" data-pjax="#main" data-title="Companies">
                    <i class="fa fa-lg fa-building-o"></i>
                    Companies
                </a>
            </li>
            <li>
                <a href="/contacts" data-pjax="#main" data-title="Contacts">
                    <i class="fa fa-lg fa-users"></i>
                    Contacts
                </a>
            </li>
            <li>
                <a href="/notes" data-pjax="#main" data-title="Notes">
                    <i class="fa fa-lg fa-clipboard"></i>
                    Notes
                </a>
            </li>
            <li>
                <a href="/charts" data-pjax="#main" data-title="Charts">
                    <i class="fa fa-lg fa-bar-chart-o"></i>
                    Charts
                </a>
            </li>
            <li>
                <a href="/settings" data-pjax="#main" data-title="Settings">
                    <i class="fa fa-lg fa-gears"></i>
                    Settings
                </a>
            </li>
        </ul>

        <div style="margin-top:20px; padding-left: 20px; font-size: 12px; color: #777">v1.1.2</div>
    </nav>

    @RenderBody()
    <!-- fixed tabbed footer -->
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="bootcards-desktop-footer clearfix">
                <p class="pull-left">Bootcards v1.1.2</p>
            </div>
            <div class="cg-footer-followUsWrap clearfix">
                <span class="slnk cg-footer-socialMediaLink cg-footer-socialMediaIcon-FB" onclick="">TLAuction on Facebook</span>
                <span class="slnk cg-footer-socialMediaLink cg-footer-socialMediaIcon-twitter" onclick="">TLAuction on Twitter</span>
                <span class="slnk cg-footer-socialMediaLink cg-footer-socialMediaIcon-pinterest" onclick="">TLAuction on Pinterest</span>
                <span class="slnk cg-footer-socialMediaLink cg-footer-socialMediaIcon-googlePlus" onclick="">TLAuction on GooglePlus</span>
                <span class="slnk cg-footer-socialMediaLink cg-footer-socialMediaIcon-instagram" onclick="">TLAuction on Instagram</span>
                <span class="slnk cg-footer-socialMediaLink cg-footer-socialMediaIcon-linkedin" onclick="">TLAuction on LinkedIn</span>
            </div>
            <div class="btn-group">
                <a href="/dashboard" class="btn btn-default" data-pjax="#main" data-title="Customers">
                    <i class="fa fa-2x fa-dashboard"></i>
                    Dashboard
                </a>
                <a href="/companies" class="btn btn-default active" data-pjax="#main" data-title="Companies">
                    <i class="fa fa-2x fa-building-o"></i>
                    Companies
                </a>
                <a href="/contacts" class="btn btn-default" data-pjax="#main" data-title="Contacts">
                    <i class="fa fa-2x fa-users"></i>
                    Contacts
                </a>
                <a href="/notes" class="btn btn-default" data-pjax="#main" data-title="Notes">
                    <i class="fa fa-2x fa-clipboard"></i>
                    Notes
                </a>
                <a href="/charts" class="btn btn-default" data-pjax="#main" data-title="Charts">
                    <i class="fa fa-2x fa-bar-chart-o"></i>
                    Charts
                </a>
                <a href="/settings" class="btn btn-default" data-pjax="#main" data-title="Settings">
                    <i class="fa fa-2x fa-gears"></i>
                    Settings
                </a>
            </div>
        </div>
    </div>

    <!--modals-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="docsModal" tabindex="-1" role="dialog" aria-labelledby="docsModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    @RenderSection("scripts", required: false)

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/transition.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.2/jquery.pjax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="~/lib/bootcards/src/js/bootcards.js"></script>
    <script src="~/js/mvc-grid.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        $('.mvc-grid').mvcgrid();

        $('.mvc-grid').mvcgrid({
            rowClicked: function (grid, row, data) {
                console.log('data: ' + data);
                console.log('grid: ' + grid);
            }
        })
    </script>

</body>
</html>