<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="javascript:void">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Grid controls for ASP.NET MVC projects.">
    <title>Binding row clicked event</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <link href="/Content/JQueryUI/jquery-ui.css" rel="stylesheet">
    <link href="/Content/Bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/Content/FontAwesome/font-awesome.css" rel="stylesheet">
    <link href="/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <link href="/Content/Shared/base.css" rel="stylesheet">
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar logo">
                <a href="https://github.com/NonFactors/MVC6.Grid">
                    <img src="/Images/github.png">
                </a>
            </div>
            <div class="sidebar-search content-block">
                <input id="SearchInput" name="SearchInput" placeholder="Search..." type="text" value="">
            </div>
            <div class="sidebar content-block">
                <ul>
                    <li>
                        <a href="/">Quick start</a>
                    </li>
                    <li>
                        <a href="/Home/Installation">Installation</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar content-block">
                <ul>
                    <li>
                        <a href="/Grid/MultiFiltering">Grid multi filtering</a>
                    </li>
                    <li>
                        <a href="/Grid/GlobalSearch">Grid global search</a>
                    </li>
                    <li>
                        <a href="/Grid/Filtering">Grid filtering</a>
                    </li>
                    <li>
                        <a href="/Grid/Sorting">Grid sorting</a>
                    </li>
                    <li>
                        <a href="/Grid/Styling">Grid styling</a>
                    </li>
                    <li>
                        <a href="/Grid/Ajax?mainParam=mainValue">Ajax grid</a>
                    </li>
                    <li>
                        <a href="/Grid/EmptyText">Empty grid text</a>
                    </li>
                    <li>
                        <a href="/Grid/Multiple">Multiple grids</a>
                    </li>
                    <li>
                        <a href="/Grid/RowProcessing">Processing grid rows</a>
                    </li>
                    <li>
                        <a href="/Grid/RowStyling">Grid row styling</a>
                    </li>
                    <li>
                        <a href="/Grid/Localization">Grid localization</a>
                    </li>
                    <li>
                        <a href="/Grid/Paging">Grid paging</a>
                    </li>
                    <li>
                        <a href="/Grid/Partial">Custom grid partial</a>
                    </li>
                    <li>
                        <a href="/Grid/Export">Grid export</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar content-block">
                <ul>
                    <li>
                        <a href="/Column/RenderingValue">Column value rendering</a>
                    </li>
                    <li>
                        <a href="/Column/Formatting">Column formatting</a>
                    </li>
                    <li>
                        <a href="/Column/Encoding">Column encoding</a>
                    </li>
                    <li>
                        <a href="/Column/Title">Column header title</a>
                    </li>
                    <li>
                        <a href="/Column/Filtering">Column filtering</a>
                    </li>
                    <li>
                        <a href="/Column/CustomFilter">Column custom filter</a>
                    </li>
                    <li>
                        <a href="/Column/MultiFiltering">Column multi filtering</a>
                    </li>
                    <li>
                        <a href="/Column/InitialSort">Column initial sort order</a>
                    </li>
                    <li>
                        <a href="/Column/FirstSort">Column first sort order</a>
                    </li>
                    <li>
                        <a href="/Column/Sorting">Column sorting</a>
                    </li>
                    <li>
                        <a href="/Column/Styling">Column styling</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar content-block">
                <ul>
                    <li>
                        <a href="/Pager/PagesToDisplay">Pager pages to display</a>
                    </li>
                    <li>
                        <a href="/Pager/RowsPerPage">Pager rows per page</a>
                    </li>
                    <li>
                        <a href="/Pager/InitialPage">Pager initial page</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar content-block">
                <ul>
                    <li>
                        <a href="/Javascript/RowClicked">Binding row clicked event</a>
                    </li>
                    <li>
                        <a href="/Javascript/Reload">Reloading ajax grid</a>
                    </li>
                    <li>
                        <a href="/Javascript/ReloadEvents">Binding reload events</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar content-block">
                <ul>
                    <li>
                        <a href="/Filter/Register">Registering grid filter</a>
                    </li>
                    <li>
                        <a href="/Filter/Unregister">Unregistering grid filter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 content">
            <div class="row">
                <div class="col-md-6">
                    <div class="example content-block">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="fa fa-bars"></i>
                                Selectable grid
                                <span class="widget-buttons">
                                    <i class="content-toggle"></i>
                                </span>
                            </div>
                            <div class="widget-content">

                                <div class="mvc-grid">
                                    <table class="table mvc-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="mvc-grid-header filterable">
                                                    <span class="mvc-grid-header-title">Name</span>
                                                    <span class="mvc-grid-filter "></span>
                                                </th>
                                                <th class="mvc-grid-header">
                                                    <span class="mvc-grid-header-title">Birth date</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="mvc-grid-row">
                                                <td>Joe</td>
                                                <td>1/5/1988 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row selected">
                                                <td>Merry</td>
                                                <td>5/6/1978 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Henry</td>
                                                <td>11/19/1990 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Cody</td>
                                                <td>8/11/1970 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Simon</td>
                                                <td>10/10/1985 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Leena</td>
                                                <td>7/1/2000 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Ode</td>
                                                <td>4/17/1966 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Diandra</td>
                                                <td>8/20/1999 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Pete</td>
                                                <td>3/13/1997 12:00:00 AM</td>
                                            </tr>
                                            <tr class="mvc-grid-row">
                                                <td>Nicky</td>
                                                <td>1/5/1988 12:00:00 AM</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="output content-block">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="fa fa-code"></i>
                                Script output
                                <span class="widget-buttons">
                                    <i class="content-toggle"></i>
                                </span>
                            </div>
                            <div class="widget-content">
<pre><code class="script-output">data: {
    "Name": "Merry",
    "Birthday": "5/6/1978 12:00:00 AM"
}
grid: {
    "name": "Grid",
    "columns": [
        {
            "name": "Name",
            "filter": {
                "isEnabled": true,
                "isMulti": false,
                "name": "Text",
                "operator": "",
                "first": {
                    "type": "",
                    "val": ""
                },
                "second": {
                    "type": "",
                    "val": ""
                }
            }
        },
        {
            "name": "Birthday",
            "filter": {
                "isEnabled": false,
                "isMulti": false,
                "name": "Date",
                "operator": "",
                "first": {
                    "type": "",
                    "val": ""
                },
                "second": {
                    "type": "",
                    "val": ""
                }
            }
        }
    ]
}</code>
</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="example-code content-block">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="fa fa-code"></i>
                                View
                                <span class="widget-buttons">
                                    <i class="content-toggle"></i>
                                </span>
                            </div>
                            <div class="widget-content">
<pre><code>
@using NonFactors.Mvc.Grid;
@model <span class="cls">IEnumerable</span>&lt;<span class="cls">PersonModel</span>&gt;
@(Html
    .Grid(Model)
    .Build(columns =&gt;
    {
        columns.Add(model =&gt; model.Name).Titled(<span class="str">"Name"</span>).Filterable(<span class="kwd">true</span>);
        columns.Add(model =&gt; model.Birthday).Titled(<span class="str">"Birth date"</span>);
    })
)
</code>
</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="example-code content-block">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="fa fa-code"></i>
                                Javascript
                                <span class="widget-buttons">
                                    <i class="content-toggle"></i>
                                </span>
                            </div>
                            <div class="widget-content">
<pre><code>
$(<span class="str">'.mvc-grid'</span>).mvcgrid({
    rowClicked: <span class="kwd">function</span> (grid, row, data) {
        console.log(<span class="str">'data: '</span> + data);
        console.log(<span class="str">'grid: '</span> + grid);
    }
})
</code>
</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .selected {
                    background-color: #F5F5F5;
                }

                .mvc-grid-row {
                    cursor: pointer;
                }
            </style>


        </div>
    </div>

    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="/Scripts/JQuery/jquery.min.js"></script>
    <script src="/Scripts/JQuery/jquery.UI.block.js"></script>
    <script src="/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="/Scripts/JQueryUI/jquery-ui.min.js"></script>
    <script src="/Scripts/MvcGrid/mvc-grid.js"></script>
    <script src="/Scripts/Shared/site.js"></script>

    <script>
    $('.mvc-grid').mvcgrid({
        rowClicked: function (grid, row, data) {
            $(row).siblings().removeClass('selected');
            $(row).toggleClass('selected');

            if ($(row).hasClass('selected')) {
                var rowData = [];
                var columnHtml = [];

                for (var key in data) {
                    rowData.push('    "' + key + '": "' + data[key] + '"');
                }
                for (var i = 0; i < grid.columns.length; i++) {
                    columnHtml.push(
                        '\n' +
                        '        {\n' +
                        '            "name": "' + grid.columns[i].name + '",\n' +
                        '            "filter": {\n' +
                        '                "isEnabled": ' + grid.columns[i].filter.isEnabled + ',\n' +
                        '                "isMulti": ' + grid.columns[i].filter.isMulti + ',\n' +
                        '                "name": "' + grid.columns[i].filter.name + '",\n' +
                        '                "operator": "' + grid.columns[i].filter.operator + '",\n' +
                        '                "first": {\n' +
                        '                    "type": "' + grid.columns[i].filter.first.type + '",\n' +
                        '                    "val": "' + grid.columns[i].filter.first.val + '"\n' +
                        '                },\n' +
                        '                "second": {\n' +
                        '                    "type": "' + grid.columns[i].filter.second.type + '",\n' +
                        '                    "val": "' + grid.columns[i].filter.second.val + '"\n' +
                        '                }\n' +
                        '            }\n' +
                        '        }');
                }


                var rowHtml = 'data: {\n' + rowData.join(',\n') + '\n}';
                var gridHtml =
                    'grid: {\n' +
                    '    "name": "' + grid.name + '",\n' +
                    '    "columns": [' +
                            columnHtml.join(',') + '\n' +
                    '    ]\n' +
                    '}';

                $('.script-output').html(rowHtml + '\n' + gridHtml);
            } else {
                $('.script-output').html('');
            }
        }
    })
    </script>



    <div class="mvc-grid-popup"></div>
</body>
</html>