<div class="row">
    <h5 class="list-group-item-heading">@(auction.AuctionId + ":" + auction.Title)</h5>
    <div class="col-sm-6">
        <i class="fa fa-arrow-up fa-3x fa-pull-left"></i>
        <p class="list-group-item-text">@auction.Price.ToString("C0")</p>
    </div>
    <div class="col-sm-6">
        <p class="list-group-item-text">@auction.AvgPrice.ToString("C0")</p>
        <p class="list-group-item-text">@auction.LowPrice.ToString("C0")</p>
    </div>
</div>