<div class="container">
    <div class="row">
        <br />
        <div class="col-md-12">
            <div class="progress">
                <div class="one primary-color"></div><div class="two primary-color"></div><div class="three no-color"></div>
                <div class="progress-bar" style="width: 70%;"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one success-color"></div><div class="two success-color"></div><div class="three success-color"></div>
                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
                <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one warning-color"></div><div class="two warning-color"></div><div class="three no-color"></div>
                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <hr />
            <div class="progress">
                <div class="one info-color"></div><div class="two no-color"></div><div class="three no-color"></div>
                <div class="progress-bar progress-bar-info" style="width: 35%"></div>
            </div>
        </div>
    </div>
</div>