<a class="list-group-item" id="#auction-details" data-id="1782049" ref="#">
    <h4 class="list-group-item-heading">1782049: NVIDIA SHIELD Pro Media Players and More</h4>
    <div class="row no-gutters">
        <div class="col-sm-pull-1">
            <i class="fa fa-arrow-circle-up fa-3x fa-pull-left"></i>
        </div>
        <div class="col-md-10">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="tltable">Condition:</td>
                        <td class="tltable">Returns</td>
                        <td class="tltable">MSRP:</td>
                        <td class="tltable">$53,369</td>
                    </tr>
                    <tr>
                        <td class="tltable"># of Bids:</td>
                        <td class="tltable">1</td>
                        <td class="tltable">Current Bid:</td>
                        <td class="tltable">$1,008</td>
                    </tr>
                    <tr>
                        <td class="tltable">EndDate:</td>
                        <td class="tltable">05/02/16 10:30 AM</td>
                        <td class="tltable">Quantity:</td>
                        <td class="tltable">101</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="progress">
                <div class="low green-color pricediff-green" id="#lowPrice" style="left: 0%;">$278</div>
                <div class="high red-color pricediff-red" id="#highPrice" style="left: 94.79%;">$3,130</div>
                <div class="labels" id="#currPrice" style="left: 24.26%;">
                    <div class="arrow"></div><div class="inner">$1,008</div>
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1008" aria-valuemin="0" aria-valuemax="3286.50" style="width: 24.26%;"></div>
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1008" aria-valuemin="0" aria-valuemax="3286.50" style="width: 0%;"></div>
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1008" aria-valuemin="0" aria-valuemax="3286.50" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</a>