@using TLAuction5.HtmlExtensions;
@using TLAuctionv5.ViewModels.Main;
@using Microsoft.Data.Entity;
@using TLAuctionv5.Mvc.Grid;
@model MyViewModel


<div class="container bootcards-container" id="main">
    <div class="row">
        <div class="col-sm-6 bootcards-list" id="list" data-title="Auctions">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="search-form">
                        <div class="row">
                            <div class="col-xs-9">
                                @using (Html.BeginForm("Index", "HomeController", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        @Html.DropDownList("sortOrder", (SelectList)ViewBag.sortList, new { onchange = "this.form.submit();" })
                                        <i class="fa fa-search"></i>
                                    </div>
                                }
                                @(Html
                    .Grid(Model.AuctionMD.Auctions)
                    .Build(columns =>
                    {
                        columns.Add(model => model.AuctionId).Titled("ID").MultiFilterable(true).Sortable(true).Css("mvc-grid-header.sortable mvc-grid-header.filterable");
                        columns.Add(model => model.Title).Titled("Title").MultiFilterable(true).Sortable(true);
                        columns.Add(model => model.EndDate).Titled("EndDate").Sortable(true);
                    })
                    .Named("Master")
                    .MultiFilterable()
                    .Filterable()
                    .Css("table-hover")
                                )
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-primary btn-block" href="#" onclick="bootcards.hideOffCanvasMenu()">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                   
                
                <div class="panel-footer">
                    <small class="pull-left">TechLiquidators Live Auctions</small>
                    <a class="btn btn-link btn-xs pull-right" href="#">
                        Footer link
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



